<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <typeAliases>
        <typeAlias alias="Account" type="com.savior.entity.Account"/>
        <typeAlias alias="Country" type="com.savior.entity.Country"/>
        <typeAlias alias="Province" type="com.savior.entity.Province"/>
        <typeAlias alias="City" type="com.savior.entity.City"/>
    </typeAliases>
      
    <mappers>  
        <mapper resource="sqlmap/account.xml" />
    </mappers>
</configuration>  
